	input:focus{
		outline: 0px;
	}
	
	@font-face {
	    font-family: 'OpenSans-Regular';
	    src: url('../fonts/woff/OpenSans-Regular.woff') format('woff'), url('../fonts/woff2/OpenSans-Regular.woff2') format('woff2');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'OpenSans-Bold';
	    src: url('../fonts/woff/OpenSans-Bold.woff') format('woff'), url('../fonts/woff2/OpenSans-Bold.woff2') format('woff2');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'OpenSans-SemiBold';
	    src: url('../fonts/woff/OpenSans-SemiBold.woff') format('woff'), url('../fonts/woff2/OpenSans-SemiBold.woff2') format('woff2');
	    font-weight: normal;
	    font-style: normal;
	}

	:root {
	    --back-body: #4f535c;
	    --back-header: #252730;
	    --back-container: #4f535c;
	    --color: #3EA6FF;
	    --color-submenu: #3EA6FF;
	    --border-field: #D0D0D0;
	    --label-field: #D0D0D0;
	    --status-background: ##E74C3C;
	    --status-color: #FFFFFF;
	    --selected-background: #FFFFFF;
	    --shadow-color: #F0F0F0;
	    --link-color: #FFFFFF;
	    --link-color-hover: #FEFEFE;
	    /* da integrare */
	    --menu-left-background: #FFFFFF;
	    --menu-left-color: #545A6D;
	    --menu-left-color-active: #869EF2;
	    --menu-left-color-title: #869EF2;
	    --menu-left-color-footer: #BCBBC4;
	    --toolbar-border-color: #C4CFFA;
	    --toolbar-text-color: #707070;
	    --filtri-collassa-color: #4552AC;
	    --filtro-generale-sfondo: #F5F5F5;
	    --filtro-generale-font: #FFFFFF;
	    --EVO-background-menu-user-list-logout-hover: #C1E0DE26;
	    --EVO-color-menu-user-list: #000000;
	    --EVO-background-menu-user-list-hover: #b4c1f44a;


	    /*
█░█ ▄▀█ █▀█ █ ▄▀█ █▄▄ █ █░░ █   █▀▀ █░█ █▀█
▀▄▀ █▀█ █▀▄ █ █▀█ █▄█ █ █▄▄ █   ██▄ ▀▄▀ █▄█*/

	    /*custom.css*/
	    --EVO-background-body: #F5F5F5;
	    --EVO-background-color-header-container: #1E3478;
	    --EVO-background-color-panel-container-list: 'trasparent';
	    --EVO-background-menu-container-upbar: #DDDDDD;
	    --EVO-color-menu-bar-comand: #000000;
	    --EVO-background-color-popup-menu-hover: #118f9a;
	    --EVO-color-popup-menu-hover: #FFFFFF;
	    --EVO-background-popup-cell-text: #dddddd;
	    --EVO-border-popup-border-thin: #252730;
	    --EVO-background-color-popup-frame-caption: #1E3478;
	    --EVO-color-popup-frame-caption: #ffffa0;
	    --EVO-background-color-popup-frame-content: #FFFFFF;
	    --EVO-background-color-filter-header: #1E3478;
	    --EVO-color-filter-header: #FFFFFF;
	    --EVO-background-color-filter-ok-button-filter-clear-button: #1E3478;
	    --EVO-color-filter-ok-button-filter-clear-button: #FFFFFF;
	    --EVO-border-filter-ok-button-filter-clear-button: #FFFFFF;
	    --EVO-background-lbl-style: 'trasparent';
	    --EVO-color-lbl-style: #FFFFFF;
	    --EVO-background-color-form-caption-container: #4552AC;
	    --EVO-color-form-caption-container: #D2D2D2;
	    --EVO-color-form-caption-text: #FFFFFF;
	    --EVO-background-color-popup-modal-frame: #00000099;
	    --EVO-background-color-frame-toolbar-container-frame-toolbarsmall-container: #FFFFFF;
	    --EVO-color-frame-toolbar-container-frame-toolbarsmall-container: #4552ac;
	    --EVO-color-frame-toolbarsmall-caption: #42424D;
	    --EVO-border-color-panel-toolbar-button: #869EF2;
	    --EVO-background-color-form-container: 'transparent';
	    --EVO-background-color-combo-option: #F5F5F5;
	    --EVO-background-color-combo-header: #F5F5F5;
	    --EVO-color-combo-header: #FFFFFF;
	    --EVO-background-color-combo-option-hiligth: #869EF2;
	    --EVO-color-combo-option-hiligth: #42424D;
	    --EVO-background-color-combo-option-selected: #ced7db;
	    --EVO-color-combo-option-selected: #42424D;
	    --EVO-color-combo-option-name: #42424D;
	    --EVO-color-combo-option-name-h1: #869EF2;
	    --EVO-background-color-selected-tab-caption-0: #1E3478;
	    --EVO-color-selected-tab-caption-0: #FFFFFF;
	    --EVO-background-color-tab-caption-0: #aaaaaa;
	    --EVO-color-tab-caption-0: #1E3478;
	    --EVO-background-color-tree-containe: #F5F5F5;
	    --EVO-background-color-tree-node-text: #F5F5F5;
	    --EVO-color-tree-node-text: #42424D;
	    --EVO-color-tree-selected-node-text: #FFFFFF;
	    --EVO-background-color-tree-selected-node-text: #869EF2;
	    --EVO-background-color-tree-node-caption-h1: #878787;
	    --EVO-color-icona-caption: #1f1f1f;

	    --EVO-background-color-group-form-box: 'trasparent';
	    --EVO-border-top-group-form-box: #C4CFFA;
	    --EVO-color-group-header-box: #869EF2;
	    --EVO-color-panel-statussmall-data: #42424D;
	    --EVO-background-color-panel-statussmall-updated: #E74C3C;
	    --EVO-color-panel-statussmall-updated: #FFFFFF;
	    --EVO-background-color-panel-status-updated: #E74C3C;
	    --EVO-color-panel-status-updated: #FFFFFF;
	    --EVO-background-panel-field-static: 'trasparent';
	    --EVO-color-panel-field-static: #1f1f1f;
	    --EVO-border-span-tooltip-jq-infoinsmod: #42424D;
	    --EVO-background-span-tooltip-jq-infoinsmod: #F5F5F5;
	    --EVO-color-span-tooltip-jq-infoinsmod: #42424D;
	    --EVO-color-nav-versione: #1F1F1F;
	    --EVO-color-icons-link: #1F1F1F;
	    --EVO-background-color-panel-field-value-form-notenabled: 'trasparent';
	    --EVO-border-panel-field-value-form-notenabled: #c0c0c0;
	    --EVO-color-panel-field-value-form-notenabled: #c0c0c0;
	    --EVO-background-color-panel: #FFFFFF;
	    --EVO-background-color-tree-container: #FFFFFF;
	    --EVO-color-text-sopracampo: #8B8B8B;

	    /*EVO-button.css*/
	    --EVO-color-evo-reset: #6f7cd2;
	    --EVO-color-evo-reset-hover: #6f7cd2c9;
	    --EVO-color-evo-reset-active: #6f7cd2;
	    --EVO-color-evo-button: #FFFFFF;
	    --EVO-background-evo-button: #4552AC;
	    --EVO-background-evo-button-hover: #4552aced;
	    --EVO-background-evo-button-active: #4552AC;
	    --EVO-color-evo-button-bloccato: #FFFFFF;
	    --EVO-background-evo-button-bloccato: #6d7ad0;
	    --EVO-color-evo-button-light: #869EF2;
	    --EVO-background-evo-button-light: #869EF2;
	    --EVO-background-color-evo-button-light-hover: #869ef21f;
	    --EVO-background-color-evo-button-light-active: 'transparent';
	    --EVO-color-evo-button-next: #4552AC;
	    --EVO-border-evo-button-next: #4552AC;
	    --EVO-background-evo-button-next-active: 'none';
	    --EVO-background-color-evo-button-next-confirm: #4552AC;
	    --EVO-border-evo-button-next-confirm: #4552AC;
	    --EVO-color-evo-button-next-confirm: #FFFFFF;
	    --EVO-background-evo-button-next-confirm-hover: #4552aced;
	    --EVO-background-evo-button-next-confirm-active: #4552AC;
	    --EVO-color-evo-button-previous-enable: #4552AC;
	    --EVO-color-evo-button-previous-disable: #C4CFFA;
	    --EVO-background-color-EVO-button-animation: #869EF2;
	    --EVO-color-EVO-button-animation: #FFFFFF;
	    --EVO-background-EVO-button-animation-hover: #4552AC;
	    --EVO-background-EVO-button-animation-active: #869EF2;
	    --EVO-color-EVO-icon-close-mdi: #4552ac;
	    --EVO-color-EVO-icon-close-modal: #4552ac;
	    /*Carico l'img trasparente*/
	    --EVO-close-button: url('../../images/mno.gif');


	    /*EVO-dettaglio.css*/
	    --EVO-border-panel-field-value-form: #4552AC;
	    --EVO-background-color-panel-field-value-form: #ffffff;
	    --EVO-color-panel-field-value-form: #000000;
	    --EVO-border-panel-field-value-form-evo-bloccato: #c8cfff;
	    --EVO-border-panel-field-value-form-evo-sbloccato: #4552AC;
	    --EVO-color-panel-value-input-panel-field-value-form-evo-bloccato: #5c5c5c;
	    --EVO-border-panel-value-input-panel-field-value-form-evo-bloccato: #c8cfff;
	    --EVO-border-panel-field-value-form-panel-value-html: #C4CFFA;
	    --EVO-color-panel-field-value-form-panel-value-html: #000000;
	    --EVO-background-panel-field-caption-form: 'trasparent';
	    --EVO-color-panel-field-caption-form: #4552AC;
	    --EVO-color-panel-field-value-watermark: #808080ab;
	    --EVO-border-top-combo-activator-panel-value-activator: #4552AC;
	    --EVO-border-bottom-combo-activator-panel-value-activator: #4552AC;
	    --EVO-border-right-combo-activator-panel-value-activator: #4552AC;
	    --EVO-color-evo-titolo-tab: #545a6d;
	    --EVO-background-color-evo-filtri-sfondo: #FFFFFF;
	    --EVO-color-evo-collassa-filtri: #4552ac;
	    --EVO-background-color-evo-filtri-sfondo-top: #ffffff;
	    --EVO-background-color-evo-filtri-sfondo-bottom: #ffffff;
	    --EVO-background-color-evo-filtro-generale-lista: #869ef2;
	    --EVO-background-color-evo-filtro-generale-cerca: #f5f5f5;
	    --EVO-color-EVO-filtro-generale-cerca: #1F1F1F;
	    --EVO-color-EVO-font-cancella-filtri: #707070;
	    --EVO-background-color-combo-activator-panel-value-activator: #FFFFFF;
	    --EVO-border-evo-ideditor-body: #4552ac;
	    --EVO-border-evo-bloccato-ideditor-body: #c8cfff;
	    --EVO-background-color-evo-sbloccato-ideditor-body: #FFFFFF;
	    --EVO-background-color-EVO-bloccato-ideditor-body: #FFFFFF;
	    --EVO-background-color-panel-field-value-form-evo-bloccato: #FFFFFF;
	    --EVO-background-color-evo-dettaglio-left: #1E3478;
	    --EVO-color-EVO-dettaglio-left-text-titolo: #C4CFFA;
	    --EVO-color-EVO-dettaglio-left-text-primario: #FFFFFF;
		--EVO-sottotitolo-color: #4552AC;

	    /*EVO-griglia.css*/
	    --EVO-color-caption-list-light: #505ba8;
	    --EVO-background-color-caption-list-light: 'transparent';
	    --EVO-border-bottom-caption-list-light: #58658d;
	    --EVO-background-color-value-list: #FFFFFF;
	    --EVO-border-value-list: #c4cff8;
	    --EVO-color-value-list-sbloccato: #000000;
	    --EVO-color-value-list-bloccato: #1f1f1f;
	    --EVO-background-color-caption-list: #4552ac;
	    --EVO-color-caption-list: #fffbf0;
	    --EVO-background-color-evo-griglia: #FFFFFF;
	    --EVO-background-color-evo-list-icon-can-press-active: #dedede;
	    --EVO-color-evo-righe-totali-contatore: #FFFFFF;
	    --EVO-border-panel-field-value-list-panel-outer-row-sel: #FFFFFF;
	    --EVO-border-panel-field-caption-list: #c4cff8;
	    --EVO-border-filter-card: #CCCCCC;
	    --EVO-box-shadow-filter-card: #0000001a;
	    --EVO-background-color-filter-sort-row: #FFFFFF;
	    --EVO-border-filter-sort-row: #CCCCCC;
	    --EVO-color-filter-sort-row: #000000;
	    --EVO-background-color-filter-sort-area-caption: #FFFFFF;
	    --EVO-color-filter-sort-area-caption: #000000;
	    --EVO-background-color-filter-row-filter-hover: #FFFFFF;
	    --EVO-background-filter-row-filter-select: #FFFFFF;
	    --EVO-color-filter-row-filter-select: #000000;
	    --EVO-border-bottom-filter-row-filter-select: #efefef;
	    --EVO-background-color-filter-row-filter-input: #FFFFFF;
	    --EVO-border-bottom-filter-row-filter-input: #efefef;
	    --EVO-color-filter-row-filter-input: #00000;
	    --EVO-background-color-filter-sort-row-hover-filter-header-img-hover: #f3f3f1;
	    --EVO-background-color-filter-header-img: #FFFFFF;
	    /*--EVO-background-color-filter-row-or-visibile:;
	--EVO-border-filter-row-or-visibile:;
	--EVO-color-filter-row-or-visibile:;*/
	    --EVO-background-color-filter-sort-row-active: #ededee;
	    --EVO-border-bottom-filter-header: #FFFFFF;
	    --EVO-border-top-filter-popup-area: #FFFFFF;
	    --EVO-color-filter-common-controls-filter-row-filter: #000000;
	    --EVO-background-color-filter-row-filter-row-line-hover-filter-popup-area-tr-combo-option-hover: #f3f3f1;
	    --EVO-background-color-combo-option-selected: #f3f3f1;
	    --EVO-border-bottom-panel-field-list-box-combo-activator: #c4cff8;

		/*EVO-Stepbar.css*/
		--EVO-stebpar-color-base:"#4552ac";
		--EVO-stebpar-color-img:"#4552ac";
		--EVO-stebpar-border-color-imgNormal:"#4552ac";
		--EVO-stebpar-border-color-imgSelected:"#376c64";
		--EVO-stebpar-shadow-color-imgSelected:"#7fc7bc";
		--EVO-stebpar-color-disabled:"#c8cfff";
		--EVO-stebpar-color-imgError:"#f01616";
		--EVO-stebpar-color-confirmed:"#4552ac";
		--EVO-background-evo-step-button:"#ffffff";
		/*END EVO-Stepbar.css*/

	    /*EVO-toolbar.css*/
	    --EVO-background-color-evo-toolbar-griglia: #ffffff;
	    --EVO-border-bottom-evo-toolbar-griglia: #c4cffa;

	    /*EVO-menumoduli.css*/
	    --EVO-color-evo-menu-module: #1f1f1f;
	    --EVO-background-color-evo-menu-module-list-hover: #b4c1f44a;
	    --EVO-background-color-evo-menu-module-list-active: #b4c1f494;
	    --EVO-background-color-EVO-menu-module-list-divisore: #b4c1f44a;

	    /*EVO-messagebox.css*/
	    --EVO-color-evo-messageconfirmex-popup-text: #1F1F1F;
	    --EVO-background-color-evo-messageconfirmex-popup-frame-caption: #E38932;
	    --EVO-color-evo-messageconfirmex-popup-frame-caption: #E38932;
	    --EVO-color-evo-messageconfirmex-popup-frame-caption-hover: #FFFFFF;
	    --EVO-background-color-checkbox: #FFFFFF;
	    --EVO-box-shadow-checkbox-before: #4552ac;
	    --EVO-color-checkbox-disabled: #AAAAAA;
	    --EVO-border-color-td-controlla-chiusura: #ffa50040;
	    --EVO-color-controlla-chiusura-gridCaption: #000000;
	    --EVO-border-color-controlla-chiusura-gridCaption: #ffa50040;
	    --EVO-background-controlla-chiusura-row-nth-child-even: #FFFFFF;
	    --EVO-background-controlla-chiusura-row-nth-child-odd: #e3893221;
	    --EVO-border-color-msgConfirm-details-content: #ffa50040;
	    --EVO-color-evo-messageConfirmExChiudi: #707070;
	    --EVO-color-evo-messageConfirmExConferma: #DB4D4D;
	    --EVO-color-popup-text: #242D33;

	    /*EVO-menuleft.css*/
	    --EVO-background-ml_left_menu: #ffffff;
	    --EVO-color-ml_title: #869ef2;
	    --EVO-color-ml_icona-ml_nomemenu: #545a6d;
	    --EVO-color-ml_nomemenu: #545a6d;
	    --EVO-color-nav-vertical-a: #eee;
	    --EVO-background-nav-vertical-a: #dfdff1;
	    --EVO-background-nav-vertical-li-hover-a-span-ml-nomemenu: #adadff;

	    /*EVO-dashboard.css*/
	    --EVO-background-contatori-dashboard: #FFFFFF;
	    --EVO-color-contatori-dashboard-titolo: #545A6D;
	    --EVO-color-contatori-dashboard-risultato: #1f1f1f;
	    --EVO-color-contatori-dashboard-nGiorni: #545A6D;
	    --EVO-background-color-contatori-dashboard-icona: #C4CFFA;
	    --EVO-background-evo-button-dashboard: #869EF2;
	    --EVO-color-evo-button-dashboard: #FFFFFF;
	    --EVO-background-evo-button-dashboard-hover: #4552AC;
	    --EVO-color-evo-button-dashboard-hover: #FFFFFF;
	    --EVO-color-evo-dashboard-legenda: #545A6D;
	    --EVO-background-evo-legenda-color-1: #B5D4A7;
	    --EVO-background-evo-legenda-color-2: #474363;
	    --EVO-color-evo-grafici-dashboard-titolo: #545A6D;
	    --EVO-background-evo-grafico: #FFFFFF;
		--EVO-background-color-widget-dashboard : #FFFFFF;

	    /*EVO-scrollbar*/
	    --EVO-panel-scroll-container-hover: #efefef;
	    --EVO-webkit-scrollbar-hover: #efefef;
	    --EVO-webkit-scrollbar-thumb: #c9c9c9;
	    --EVO-webkit-scrollbar-thumb-active: #7f7f7f;
	    --EVO-webkit-scrollbar-thumb-hover: #7f7f7f;

	    /*JSComponents/Stepbar/lib/stepbar.css*/
	    --EVO-color-ul-progress-bar-li: #4552AC;
	    --EVO-box-shadow-ul-progress-bar-li-span-first-child-hover: #4552AC;
	    --EVO-color-ul-progress-bar-li-span-first-child: #4552AC;
	    --EVO-border-ul-progress-bar-li-span-first-child: #FFFFFF;
	    --EVO-background-ul-progress-bar-li-span-first-child: #FFFFFF;
	    --EVO-box-shadow-ul-progress-bar-li-span-first-child: #4552AC;
	    --EVO-background-ul-progress-bar-li-span-nth-child: #4552AC;
	    --EVO-background-ul-progress-bar-li-visited-span-first-child: #4552AC;
	    --EVO-color-ul-progress-bar-li-visited-span-first-child: #FFFFFF;
	    --EVO-background-ul-progress-bar-li-visited-span-nth-child: #4552AC;
	    --EVO-box-shadow-ul-progress-bar-li-current-span-first-child: #4552AC;
	    --EVO-background-ul-progress-bar-li-warning-span-first-child: #ffa500;
	    --EVO-background-ul-progress-bar-li-warning-span-nth-child: #ffa500;
	    --EVO-background-ul-progress-bar-li-error-span-first-child: #dc143c;
	    --EVO-background-ul-progress-bar-li-error-span-nth-child: #dc143c;
	    --EVO-background-ul-progress-bar-li-locked-span-first-child: #FFFFFF;
	    --EVO-box-shadow-ul-progress-bar-li-locked-span-first-child: #98999b;
	    --EVO-color-ul-progress-bar-li-locked-span-first-child: #98999b;
	    --EVO-color-ul-progress-bar-li-locked-span-nth-child: #98999b;
	    --EVO-background-ul-progress-bar-li-locked-span-nth-child: #98999b;
	    --EVO-background-current-status: #3cb371;
	    --EVO-border-evo-step-button: #4552AC;
	    --EVO-background-evo-step-button: #FFFFFF;
	    --EVO-color-evo-step-button: #4552AC;
	    --EVO-background-color-evo-step-background: #FFFFFF;
	    --EVO-background-frame-content-container: #f5f5f500;
	    --EVO-box-shadow-ul-progress-bar-li-hover-span-first-child: #4552AC;
	    --EVO-box-shadow-0-keyframes-anello: #4552AC;
	    --EVO-box-shadow-50-keyframes-anello: #4552AC;
	    --EVO-box-shadow-100-keyframes-anello: #4552AC;
	    --EVO-box-shadow-ul-progress-bar-li-locked-hover-span-first-child: #98999b;

	    /*navbar.css*/
	    --EVO-background-evo-navbar-page-active: #4552AC;
	    --EVO-background-evo-navbar-page: #C4CFFA;
	    --EVO-background-evo-navbar-contenitor: #F5F5F5;
	    --EVO-color-evo-navbar-text: #FFFFFF;
	    --EVO-color-evo-navbar-page-active: #9ccbee;
	    --EVO-background-evo-navbar-page-hover: #adb8e0;


	    /*Vertical menu*/
	    --EVO-color-toggler: #4552AC;
	    --EVO-background-menu: #FFFFFF;
	    --EVO-color-menu-menu-item-hover-span: #000000;
	    --EVO-color-menu-menu-item: #000000;
	    --EVO-color-menu-menu-item-hover-i-menu-menu-item-hover-span: #000000;
	    --EVO-background-menu-menu-item-hover: #e0e6f8;

	    /*Notiflix*/
	    --EVO-background-success: #32c682;
	    --EVO-background-failure: #ff5549;
	    --EVO-background-warning: #eebf31;
	    --EVO-background-info: #26c0d3;
	    --EVO-textColor: #FFFFFF;

	    /*EVO-tooltip.css*/
	    --EVO-background-color-customtooltip-th: #4552AC;
	    --EVO-color-customtooltip-th: #FFFBF1;
	    --EVO-background-color-customtooltip-td: #FFFFFF;
	    --EVO-color-customtooltip-td: #1F1F1F;

	    /*Charts*/
	    /*Questa variabile ti permette di cambiare il colore dei buchi dei grafici DONUT*/
	    --EVO-fill-chart-js: #FFFFFF;
	    --EVO-fill-dhx_chart-legend-text-dhx_chart-scale-text-dhx_chart-scale-title: #898f97;
	    --EVO-fill-dhx_chart-donut-value-title: #898f97;
	    --EVO-fill-dhx_chart-donut-value: #555;

	    /*ORGANIGRAMMI*/
	    --EVO-background-color-Organigramma-Charts: #FFFFFF;
	    --EVO-color-organigrammi-charts-foto: #4552AC;
	    --EVO-color-organigrammi-charts-contatto: #008cd0;
	    --EVO-color-organigrammi-charts-ruolo: #4c4c4c;
	    --EVO-color-organigrammi-charts-titolo: #4552AC;
	    --EVO-color-organigrammi-charts-icone: #4c4c4c;
	    --EVO-background-color-anagrafica-counter: #4552AC;
	    --EVO-background-color-hover-anagrafica-counter: #869EF2;
	    --EVO-background-color-anagrafica-counter: #4552AC;
	    --EVO-background-color-hover-anagrafica-counter: #869EF2;
	    --EVO-color-hover-anagrafica-counter: #FFFFFF;
	    --EVO-border-color-albero-anagrafica: #4552ac;
	    --EVO-color-albero-anagrafica-contenitore: #000000;
	    --EVO-background-color-albero-anagrafica: #FFFFFF;
	    --EVO-color-anagrafica-counter: #FFFFFF;
	    --EVO-color-anagrafica-contet: #000000B3;
	    --EVO-color-anagrafica-icona: #0000000;

	    /*interventi.css*/
	    --EVO-background-color-quadrato: #c4e9ff80;
	    --EVO-background-color-quadrato-weekend-festivo: #818ff180;
	    --EVO-border-header-cruscotto: #bec9f4;
	    --EVO-border-quadrato: #05126c;
	    --EVO-background-color-cubetto: #05126c;
	    --EVO-background-color-gruppo: #6372fd;
	    --EVO-background-color-sottogruppo: #8cbff9;
		--EVO-color-header-cruscotto-oggi: #6de4ff;

	    /*Tabwiew*/
	    --EVO-background-color-tabview-tab-caption: #869EF2;
	    --EVO-color-tabview-tab-caption: #1E3478;
	    --EVO-background-color-tabview-selceted-tab-caption: #4552AC;
	    --EVO-color-tabview-selceted-tab-caption: #FFFFFF;
	    --EVO-background-color-tabview-tab-caption-h1-0: #f3f3f1;
	    --EVO-color-tabview-tab-caption-h1-0: #1E3478;

	    /*CHAT.css*/
	    --EVO-border-online-iniziali: #a1a1a1;
	    --EVO-background-color-online-iniziali: #385cdc;
	    --EVO-color-online-stato: #ffa500;
	    --EVO-background-color-chat-titolo: #4E5CB9;
	    --EVO-border-msg-container: #000;
	    --EVO-background-color-msg-container: #F9F8F8;
	    --EVO-color-msg-container: #222;
	    --EVO-background-color-msg-my: #7097ec;
	    --EVO-color-msg-my: #ffffff;
	    --EVO-color-icone-msg-my: #4e4141;
	    --EVO-color-msg-my-msg-data: #4F4F4F;
	    --EVO-color-msg-chat-msg-data: #666;
	    --EVO-color-icone-msg: #666;
	    --EVO-background-color-msg-chat: #CFE6FBFF;
	    --EVO-background-msg-linkevo: #0094FFFF;
	    --EVO-color-msg-linkevo: #D7FFFFFF;
	    --EVO-background-color-listachatdaleggere: #ff0000;
	    --EVO-color-listachatdaleggere: #FFF;
	    --EVO-from-background-color-evidenzia: #FFB53E;
	    --EVO-color-chat-titolo-panel-field-value-form: #ffffff;
	    --EVO-color-chat-titolo-panel-field-static: #ffffff;
	    --EVO-background-color-frame-container-box-msg: #F9F8F8;
	    --EVO-background-color-box-ricerca: #f0f0f0;
	    --EVO-background-color-chat-inizio: #e4e4e4;
	    --EVO-color-chat-inizio: #1f1f1f;
	    --EVO-background-color-contatore: #ffa500;
	    --EVO-color-contatore: #212121;

	    /*
█▀▀ █ █▄░█ █▀▀   █░█ ▄▀█ █▀█ █ ▄▀█ █▄▄ █ █░░ █   █▀▀ █░█ █▀█
█▀░ █ █░▀█ ██▄   ▀▄▀ █▀█ █▀▄ █ █▀█ █▄█ █ █▄▄ █   ██▄ ▀▄▀ █▄█*/
	}

	body {
	    font-family: Calibri, Helvetica, Arial, sans-serif !important;
	    background: var(--EVO-background-body);
	}

	/* InDe */
	/************************************************************************************/
	/* Barra intestazione */

	#header-container {
	    height: 70px !important;
	    line-height: 40px !important;
	    background-color: var(--EVO-background-color-header-container);
	    padding-top: 0px !important;
	    box-shadow: none !important;
	    -webkit-box-shadow: none !important;
		position: absolute !important;
		top: 0px !important;
	}

	#header-main-caption {
	    width: 100% !important;
	    margin-left: 0px !important;
	    height: 70px !important;
	}

	/* eventuale icona su barra intestazione */

	#header-main-image {
	    margin-top: 3px !important;
	    vertical-align: -12px !important;
	}

	/* indicatore caricamento */

	#header-ajax-indicator {
	    position: absolute !important;
	    top: 6px !important;
	    left: 107px !important;
	    width: 100px !important;
	    /*height: 25px !important;*/
	}

	/* contenitore forms (-barra intestazione -barra voci menù */
	/* top: 40px --> è l'altezza dell' header-container */

	#forms-container {
	    padding: 0px !important;
	    /*Ho messo 15% perchè è (praticamente) la stessa grandezza che hanno per 
    il posto riservato alla loro nav bar (dove si possono vedere i moduli aperti) PS. forse se utilizziamo il docking top non serve neanche*/
	    /*top: 15% !important;*/
	}

	.form-frames-container {
	    padding-top: 0px !important;
	}

	.header-debug-image-hl,
	.header-help-button-hl,
	.header-close-app-hl,
	.header-debug-image-hover,
	.header-close-app-hover {
	    padding: 0px !important;
	    position: absolute !important;
	    top: 12px !important;
	    border-radius: 0px !important;
	    -ms-border-radius: 0px !important;
	    background-color: transparent !important;
	}

	.header-debug-image-hl,
	.header-debug-image-hover {
	    left: 0px !important;
	    top: 0px !important;
	    background-color: transparent !important;
	}

	.header-close-app-hl,
	.header-close-app-hover {
	    left: 60px !important;
	    background-color: transparent !important;
	    height: 30px !important;
	    display: none;
	}

	.header-help-button-hl {
	    left: 140px !important;
	}

	/************************************************************************************/
	/* menù top */

	#side-menu-container {
	    padding: 0px !important;
	    display: none !important;
	}

	/* parte background voci menù */

	.menu-container-upbar {
	    padding: 0px !important;
	    height: 65px !important;
	    background: var(--EVO-background-menu-container-upbar) !important;
	}

	/* linea voci menù principale */

	.side-menu-container {
	    padding: 0px !important;
	}

	.side-menu-upbar {
	    height: 65px !important;
	}

	/* voci menù pricipali */

	.menu-bar-command {
	    font-size: 12px !important;
	    height: 65px !important;
	    line-height: 65px !important;
	    color: var(--EVO-color-menu-bar-comand) !important;
	    margin-right: 2px !important;
	    width: 80px !important;
	}

	.menu-bar-command:hover {
	    text-decoration: underline !important;
	}

	/* voci menù in cascata */
	/*
    .popup-cell-text {
        height: 16px !important;
    }*/
	/*
    .popup-menu-hover {
        background-color: var(--EVO-background-color-popup-menu-hover)  !important;
        color: var(--EVO-color-popup-menu-hover) !important;
    }*/
	/*
    .popup-menu-container {
        height: 24px !important;
    }*/
	/* 
    .popup-cell-text {
        background: var(--EVO-background-popup-cell-text) !important;
    }*/

	.popup-menu-text {}

	.popup-border-thin {
	    border: 1px solid var(--EVO-border-popup-border-thin) !important;
	}

	.popup-frame-caption {
	    background-color: var(--EVO-background-color-popup-frame-caption);
	    color: var(--EVO-color-popup-frame-caption);
	}

	.MessageWarning .popup-frame-caption {
		color: #ff992f;
		background-color: #ff992f;
	}
	.MessageWarning .popup-frame-caption:after {
		content: "ATTENZIONE!";
		color: #FFF;
		background-color: #ff992f;
		position: absolute;
		left: 0px;
		padding-left: 10px;
		font-weight:bold;
	}
	
	.MessageInfo .popup-frame-caption {
		color: #45C0D3;
		background-color: #45C0D3;
	}
	.MessageInfo .popup-frame-caption:after {
		content: "ATTENZIONE!";
		color: #FFF;
		background-color: #45C0D3;
		position: absolute;
		left: 0px;
		padding-left: 10px;
		font-weight:bold;
	}

	.MessageError .popup-frame-caption {
		color: #F25649;
		background-color: #F25649;
	}
	.MessageError .popup-frame-caption:after {
		content: "ATTENZIONE!";
		color: #FFF;
		background-color: #F25649;
		position: absolute;
		left: 0px;
		padding-left: 10px;
		font-weight:bold;
	}

	.popup-frame-container {
	    border-radius: 8px !important;
	}

	.popup-frame-content {
	    background-color: var(--EVO-background-color-popup-frame-content) !important;
	}

	.popup-modal-frame {
	    opacity: 0.9 !important;
	}

	/* END menù top */
	/************************************************************************************/
	/* docking left */

	.left-dock-container-visible {
	    padding: 0px !important;
	}

	/* END docking left */
	/************************************************************************************/
	/* Filtri avanzati */

	.filter-header {
	    background-color: var(--EVO-background-color-filter-header) !important;
	    color: var(--EVO-color-filter-header) !important;
	}

	.filter-ok-button,
	.filter-clear-button {
	    background-color: var(--EVO-background-color-filter-ok-button-filter-clear-button) !important;
	    color: var(--EVO-color-filter-ok-button-filter-clear-button) !important;
	    border: 1px solid var(--EVO-border-filter-ok-button-filter-clear-button) !important;
	}

	/* END Filtri avanzati */
	/************************************************************************************/
	/* campi con visual style già settato */

	.lbl-style {
	    background: var(--EVO-background-lbl-style) !important;
	    color: var(--EVO-color-lbl-style) !important;
	}

	/************************************************************************************/
	/*FORM POPUP*/
	/* parte di titolo del form */


	.form-caption-container {
	    height: 44px !important;
	    line-height: 44px !important;
	    background-color: var(--EVO-background-color-form-container) !important;
	    text-overflow: clip !important;
	    text-align: right !important;
	    border-bottom: none !important;
	}

	.form-caption-hover.form-caption-text {
	    opacity: 1 !important;
	}

	.form-caption-text {
	    color: var(--EVO-color-form-caption-text) !important;
	    height: 42px !important;
	    line-height: 42px !important;
	    float: left !important;
	    padding-left: none !important;
	    font-size: 20px !important;
	    color: var(--menu-left-color) !important;
	    font-family: 'OpenSans-SemiBold' !important;
	    position: absolute;
	    left: 15px !important;
	    text-transform: uppercase;
	}

	.EVO-caption-modal .form-caption-container {
	    background-color: var(--EVO-background-color-form-caption-container) !important;
	}

	.EVO-caption-modal .form-caption-text {
	    color: var(--EVO-color-form-caption-text) !important;
	    font-size: 15px !important;
	    font-family: "OpenSans-Bold" !important;
	    left: 0px !important;
	}

	.form-caption-modal-image {
	    width: 85px !important;
	    height: 45px !important;
	    margin-top: -2px !important;
	}

	.form-caption-image {
	    margin-top: -5px !important;
	}

	/* END parte di titolo del form */
	/*bordo esterno del popup */

	.popup-border-thin {
	    border: 0px !important;
	}

	/*Quello che c'è dietro al modale (tipo l'oscuramento)*/

	.popup-modal-frame {
	    background-color: var(--EVO-background-color-popup-modal-frame) !important;
	}

	/*FINE FORM POPUP*/
	/************************************************************************************/
	/* barra menù toolbar */

	.frame-toolbar-container,
	.frame-toolbarsmall-container {
	    background-color: var(--EVO-background-color-frame-toolbar-container-frame-toolbarsmall-container) !important;
	    /*background-image: url("images/BackMenu.jpg") !important;*/
	    background-repeat: repeat-x !important;
	    color: var(--EVO-color-frame-toolbar-container-frame-toolbarsmall-container) !important;
	}

	.frame-toolbarsmall-caption {
	    color: var(--EVO-color-frame-toolbarsmall-caption) !important;
	}

	/* bottone menù toolbar */

	.toolbar-button {
	    margin-right: 5px !important;
	    margin-left: 5px !important;
	}

	.panel-toolbar-button,
	.panel-toolbar-button-down,
	.panel-toolbar-button-hover,
	.frame-toolbar-button,
	.frame-toolbar-button-hover,
	.frame-toolbar-button-down,
	.panel-toolbar-button-small,
	.panel-toolbar-button-small-down,
	.panel-toolbar-button-small-hover,
	.frame-toolbar-button-small,
	.frame-toolbar-button-small-hover,
	.frame-toolbar-button-small-down {
	    border: solid !important;
	    border-width: thin !important;
	    border-color: var(--EVO-border-color-panel-toolbar-button) !important;
	}

	/* Docking bottom */

	.bottom-dock-container-visible {
	    padding: 0px !important;
	}

	.form-container {
	    border: none !important;
	    background-color: var(--EVO-background-color-form-container) !important;
	}

	.panel-form-container,
	.panel-list-container {
	    background-color: var(--EVO-background-color-panel-container-list) !important;
		padding-right: 5px;
	}

	/*.listlock .panel-field-value-list {
	color: var(--list-lock-color) !important;	
}*/

	.frame-content-container {
	    border: none !important;
	    background: var(--EVO-background-frame-content-container) !important;
	    overflow-x: hidden !important;
	}

	/************************************************************************************/
	/* combobox */
	/*
.combo-input 
{
	background-color:#FFFFFF !important;	
}
*/

	/* ABBIAMO GIA TUTTO NEL EVO-combo-option
    .combo-option {
        background-color: var(--EVO-background-color-combo-option) !important;
    }
    
    .combo-header {
        background-color: var(--EVO-background-color-combo-header) !important;
        color: var(--EVO-color-combo-header) !important;
    }
    
    .combo-option-hiligth {
        background-color: var(--EVO-background-color-combo-option-hiligth) !important;
        color: var(--EVO-color-combo-option-hiligth) !important;
    }
    
    .combo-option-selected {
        background-color: var(--EVO-background-color-combo-option-selected) !important;
        color: var(--EVO-color-combo-option-selected) !important;
    }
    
    .combo-option-name {
        color: var(--EVO-color-combo-option-name) !important;
    }
    
    .combo-option-name-hl {
        color: var(--EVO-color-combo-option-name-h1) !important;
    }*/
	/* END combobox */
	/************************************************************************************/
	/* tabbed view */

	.selected-tab-caption-0 {
	    background-color: var(--EVO-background-color-selected-tab-caption-0) !important;
	    color: var(--EVO-color-selected-tab-caption-0) !important;
	}

	.tab-caption-0 {
	    background-color: var(--EVO-background-color-tab-caption-0) !important;
	    color: var(--EVO-color-tab-caption-0) !important;
	}

	/* END tabbed view */
	/************************************************************************************/
	/*menù ad albero - nodo selezionato */

	.tree-container {
	    background-color: var(--EVO-background-color-tree-container) !important;
	}

	.tree-node-text {
	    background-color: var(--EVO-background-color-tree-node-text) !important;
	    color: var(--EVO-color-tree-node-text) !important;
	    font-size: 12pt !important;
	}

	.tree-selected-node-text {
	    color: var(--EVO-color-tree-selected-node-text) !important;
	    background-color: var(--EVO-background-color-tree-selected-node-text) !important;
	    font-size: 12pt !important;
	    /*padding-right: 25px !important;*/
	}

	.tree-node-caption-h1 {
	    background-color: var(--EVO-background-color-tree-node-caption-h1) !important;
	}

	/*.popup-cell-text {
        height: 16px !important;
    }*/
	/* gruppi */

	.group-form-box {
	    background-color: var(--EVO-background-color-group-form-box) !important;
	    border-top: 2px solid var(--EVO-border-top-group-form-box) !important;
	    margin-top: 18px !important;
	}

	.group-header-box {
	    font-family: 'OpenSans-Bold' !important;
	    color: var(--EVO-color-group-header-box) !important;
	    font-size: 16px !important;
	    margin-top: -8px !important;
	    height: 21px !important;
	}

	/************************************************************************************/
	/************************************************************************************/

	/* label (intestazioni colonne a dettaglio) */
	/* Colore messaggio "dati modificati"*/

	.panel-statussmall-data {
	    color: var(--EVO-color-panel-statussmall-data) !important;
	}

	.panel-statussmall-updated {
	    background-color: var(--EVO-background-color-panel-statussmall-updated) !important;
	    color: var(--EVO-color-panel-statussmall-updated) !important;
	    display: inline-block !important;
	    line-height: 22px !important;
	    font-size: 10pt !important;
	    position: absolute !important;
	    top: 5px !important;
	    overflow: hidden !important;
	    padding: 0 8px 0 3px !important;
	    margin: 0 5px !important;
	    border-radius: 3px !important;
	    height: 22px !important;
	}

	.panel-status-updated {
	    background-color: var(--EVO-background-color-panel-status-updated) !important;
	    color: var(--EVO-color-panel-status-updated) !important;
	}

	.panel-field-static {
	    /*font-family: Ubuntu Medium !important;*/
	    font-size: 15px !important;
	    border: none !important;
	    background: var(--EVO-background-panel-field-static) !important;
	    color: var(--EVO-color-panel-field-static) !important;
	    font-family: 'OpenSans-Regular' !important;
	}

	/*.listunlock {
        border: 1px solid var(--border-field) !important;
        color: var(--label-field) !important;
        opacity: 1 !important;
    }*/
	/************************************************************************************/
	/* tooltips */

	.CustomTooltip table {
	    border-collapse: collapse !important;
	}

	.CustomTooltip th {
	    background-color: #006070 !important;
	    color: #ffffff !important;
	    text-align: center !important;
	    padding: 2px 4px !important;
	}

	.CustomTooltip td {
	    background-color: #E2FFE2 !important;
	    color: #15301E !important;
	    padding: 2px 4px !important;
	    white-space: nowrap !important;
	}

	span.tooltip_jq {
	    display: block;
	    width: auto;
	    padding: 5px;
	    background-color: #fcffd2;
	    border: 1px solid #00b000;
	    font-size: small;
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    border-radius: 3px;
	    position: absolute;
	}

	span.tooltip_jq_InfoInsMod {
	    border: 1px solid var(--EVO-border-span-tooltip-jq-infoinsmod);
	    background: var(--EVO-background-span-tooltip-jq-infoinsmod);
	    color: var(--EVO-color-span-tooltip-jq-infoinsmod);
	    border-radius: 3px;
	    display: block;
	    width: auto;
	    padding: 5px;
	    font-size: small;
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    border-radius: 3px;
	    position: absolute;
	}

	/* END tooltips */
	/************************************************************************************/
	/* html editor (versione) */

	.ideditor-toolbar {
	    background-color: #08586F !important;
	}

	/* font awesome */

	.fa,
	.far {
	    font-size: 14px !important;
	}

	/* puntatore mouse */

	.forcepointer {
	    cursor: pointer !important;
	}

	/************************************************************************************/
	/* --------------------------------------------------------------------------------------------------*/
	/* PERSONALIZZAZIONI SPECIFICHE APPLICAZIONE                                                         */
	/* --------------------------------------------------------------------------------------------------*/

	.nav_versione {
	    color: var(--EVO-color-nav-versione) !important;
	}

	.no_border {
	    border: none !important;
	}

	.no_float {
	    clear: both !important;
	}

	.fl_left {
	    float: left !important;
	}

	.testgraph {
	    background: url("images/testgraph.jpg") !important;
	    background-repeat: no-repeat !important;
	}

	.tips_testo {
	    color: #464637;
	}

	.size1 {
	    width: 1px !important;
	}

	.iconslink {
	    text-align: center;
	    color: var(--EVO-color-icons-link);
	    font-size: 28px;
	    line-height: 35px;
	    cursor: pointer;
	}

    /*REMMATA PERCHE' IMPEDIVA LA GENERAZIONE DELLE SCROLLBAR IN TROPPI CASI E NON SI POTEVA SOVRASCRIVERE CON UNA NUOVA REGOLA
		A CAUSA DELL !IMPORTANT, VEDERE EVO-griglia.css riga 423 per nuove regole in sostutuzione, dovrebbero essere più mirate
		e nascondere le scrollbar solo dove necessario rif Mattia 26/10/203
	.frame-content-container, .EVO-overflow-y-hidden{
		overflow-y: hidden !important;
	}
	*/

	.roll-y {
	    overflow-y: auto !important;
	}

	.no_roll {
	    overflow: hidden !important;
	}

	/************************************************************************************/
	/* --------------------------------------------------------------------------------------------------*/
	/* TICKETWEB*/
	/* --------------------------------------------------------------------------------------------------*/
	/*.panel-field-static-icona {
                font-family: Ubuntumedium !important;
                font-size: 15px !important;
                border: none !important;
				background-image: url(images/xDanelutti.gif)!important;
}*/

	.panel-field-static-icona {
	    font-family: Calibri !important;
	    font-size: 15px !important;
	    border: none !important;
	    background-image: url(images/IconaAllegati.gif) !important;
	}

	.panel-field-barra-Esterna {
	    border: 1px solid !important;
	    border-color: #000000 !important;
	    cursor: pointer !important;
	}

	.panel-field-barra-Verde {
	    border: none !important;
	    background: #6dea00 !important;
	    cursor: pointer !important;
	}

	.panel-field-barra-Rossa {
	    border: none !important;
	    background: red !important;
	    cursor: pointer !important;
	}

	.panel-field-barra-Gialla {
	    border: none !important;
	    background: yellow !important;
	    cursor: pointer !important;
	}

	.panel-field-value-form-notEnabled {
	    background-color: var(--EVO-background-color-panel-field-value-form-notenabled) !important;
	    border-bottom: 1px solid var(--EVO-border-panel-field-value-form-notenabled) !important;
	    border-left: 1px solid var(--EVO-border-panel-field-value-form-notenabled) !important;
	    border-top: 1px solid var(--EVO-border-panel-field-value-form-notenabled) !important;
	    border-right: 1px solid var(--EVO-border-panel-field-value-form-notenabled) !important;
	    color: var(--EVO-color-panel-field-value-form-notenabled) !important;
	}

	.me-color-picker {
	    border: none !important;
	}

	/*Teniamo entrambe le forme per mantenere la compatibilità con i componenti che la usavano in minuscolo*/
	.EVO-required::after,
	.evo-required::after {
	    content: "*" !important;
	    color: red !important;
	    font-weight: bolder !important;
		padding-left: 3px;
	}

	.frame-container-top {
	    z-index: 1 !important;
	}

	.frame-container-bottom {
	    z-index: 2 !important;
	}

	.frame-container-left {
	    z-index: 1 !important;
	}

	.frame-container-right {
	    z-index: 2 !important;
	}

	/*///////////////////////////////////////////////////////////////////////////////
                TABBED VIEW
///////////////////////////////////////////////////////////////////////////////*/

	.EVO-tabview .toolstrip-container {
	    background-color: transparent;
	    padding: 0 12px;
	    padding-left: 23px !important;
	}

	.EVO-tabview .tab-caption-0 {
	    background-color: var(--EVO-background-color-tabview-tab-caption) !important;
	    color: var(--EVO-color-tabview-tab-caption) !important;
	}

	.EVO-tabview .selected-tab-caption-0 {
	    background-color: var(--EVO-background-color-tabview-selceted-tab-caption) !important;
	    color: var(--EVO-color-tabview-selceted-tab-caption) !important;
	}

	.EVO-tabview .tab-caption-hl-0 {
	    display: inline-block;
	    vertical-align: top;
	    height: 30px;
	    line-height: 30px;
	    background-color: var(--EVO-background-color-tabview-tab-caption-h1-0);
	    color: var(--EVO-color-tabview-tab-caption-h1-0);
	    font-size: 10pt;
	    border-radius: 3px 3px 0 0;
	    -ms-border-radius: 3px 3px 0 0;
	    cursor: pointer;
	}

	.rotate-210 {
	    transform: rotate(210deg) !important;
	}

	/*///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////*/