
.online-iniziali{
    width: 18px;
    height: 18px;
    float: left;
    margin: 3px;
    margin-right: 10px;
    padding: 3px;
    text-align: center;
    border: var(--EVO-border-online-iniziali);
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    font-size: 11px;
    background-color: var(--EVO-background-color-online-iniziali);
    color: white;
}

.online-stato{
	/*float: left; */
	color: var(--EVO-color-online-stato);
}

.online-nome {
	/*float: left; */
	font-weight: bold !important;
}

.online-online {
	position: absolute;
	top: 10px;
	right: 5px;
}

.chat-titolo {
	font-weight: bold !important;
	font-size: 18px !important;
	/*background: transparent !important;*/
	background: var(--EVO-background-color-chat-titolo) !important;	
	border: none !important;
	text-indent: 0px !important;
}

.msg-container {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	text-align:left;
	border: 1px solid var(--EVO-border-msg-container);
	background-color: var(--EVO-background-color-msg-container) !important;
	color: var(--EVO-color-msg-container) !important;
	
}
.msg-my, .msg-chat {
	width: 90%;
	overflow: hidden;
	padding: 3px;
	margin: 3px;
	border-radius: 5px !important;
	-ms-border-radius: 5px !important;
}
.msg-my {
	background-color: var(--EVO-background-color-msg-my);
	color: var(--EVO-color-msg-my) !important;
	position: relative;
  	left: 37px;
}

.msg-my .msg-Copia{
	color: var(--EVO-color-icone-msg-my) !important;
}

.msg-my .msg-cancella{
	color: var(--EVO-color-icone-msg-my) !important;
}

.msg-my .msg-autore, .msg-my .msg-data {
	color: var(--EVO-color-msg-my-msg-data) !important;
	font-weight: 900;
}

.msg-chat .msg-autore, .msg-chat .msg-data {
	color: var(--EVO-color-msg-chat-msg-data) !important;
	font-weight: 900;
}


.msg-autore {
	margin-left: 2px;
	float: left;
	font-size: 15px;
}
.msg-cancella {
	float: right;
	cursor: pointer;
	color: var(--EVO-color-icone-msg) !important;
}

.msg-Copia{
	cursor: pointer;
	float:right;
	margin-right: 2px;
	color: var(--EVO-color-icone-msg) !important;
}

.msg-text {
	width:96%;	
	clear: both;
	user-select: text;
	word-wrap: break-word;
	padding-left: 11px;
}
.msg-data {
	width:20%;
	height:14px;
	margin-right: 4px;
	margin-top: 2px;
	text-align: right;
	font-size: 12px;
	float:left;
	padding-left:76%;
	word-break: keep-all;
}
.msg-chat {
	background-color: var(--EVO-background-color-msg-chat);
}
.msg-linkevo {
	width: 95% !important;
	background: var(--EVO-background-msg-linkevo) !important;
	color: var(--EVO-color-msg-linkevo) !important;
	padding: 4px !important;
}
.msg-linkevo-titolo {
	height: 32px;
	line-height: 32px;
	font-weight: bold;
	font-size: 14px;
	display: inline-flex;
}
.msg-linkevo-titolo em {
	padding-left: 5px;
}  
.msg-linkevo a {
	color: var(--EVO-color-msg-linkevo) !important;
}

.listachat {
	width: 100%;
}
.listachatdaleggere {
	float: right;
	padding: 7px;
	border-radius: 12px !important;
	-ms-border-radius: 3px !important;
	background-color: var(--EVO-background-color-listachatdaleggere) !important;
	color: var(--EVO-color-listachatdaleggere) !important;
	height: 6px !important;
	line-height: 6px !important;
	font-size: 12px;
	position: relative;
	top: 12px;
}
.chatdaleggere {
	float: right;
	padding: 5px;
	border-radius: 12px !important;
	-ms-border-radius: 3px !important;
	background-color: var(--EVO-background-color-listachatdaleggere) !important;
	color: var(--EVO-color-listachatdaleggere) !important;
	height: 2px !important;
	line-height: 6px !important;
	position: relative;
  	margin-left: 35px;
  	margin-top: 2px;
}

.Spunta{
	font-size: 12px; 
	width: 15px; 
	height: 15px; 
	float: right; 
	text-align: center;
}

@keyframes myevidenzia {
  from {background-color: var(--EVO-from-background-color-evidenzia)}
  to {background-color: var(--EVO-background-color-msg-my)}
}

@keyframes msgevidenzia {
  from {background-color: var(--EVO-from-background-color-evidenzia)}
  to {background-color: var(--EVO-background-color-msg-chat)}
}
/*///////////////////////////////////////////////////////////////////////////////
	TABBED VIEW
///////////////////////////////////////////////////////////////////////////////*/

.EVO-chat-tabview .toolstrip-container {
    background-color: transparent;
    padding: 0 12px;
}

.EVO-chat-tabview .tab-caption-0 {
    background-color: var(--EVO-background-evo-button-light) !important;
    color: var(--EVO-color-tab-caption-0) !important;
}

.EVO-chat-tabview .selected-tab-caption-0 {
    background-color: var(--EVO-background-evo-button) !important;
    color: var(--EVO-color-selected-tab-caption-0) !important;
}

.EVO-chat-tabview .tab-caption-hl-0 {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  line-height: 30px;
  background-color: var(--EVO-background-color-combo-option-selected);
  color: var(--EVO-color-tab-caption-0);
  font-size: 10pt;
  border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  cursor: pointer;
}

/*///////////////////////////////////////////////////////////////////////////////
	MESSAGGI
///////////////////////////////////////////////////////////////////////////////*/

.chat-titolo .panel-field-value-form{
  border: none !important;
  font-weight: bold !important;
  font-size: 18px !important;
  background: transparent !important;
  border: none !important;
  text-indent: 0px !important;
  color: var(--EVO-color-chat-titolo-panel-field-value-form) !important;
}

.chat-titolo .panel-field-static{
  color: var(--EVO-color-chat-titolo-panel-field-static) !important;
}
 
.frame-container.EVO-box-msg {
    background-color: var(--EVO-background-color-frame-container-box-msg);
    position: absolute;
    overflow: hidden;
    border: none;
}

.EVO-box-ricerca {
    background-color: var(--EVO-background-color-box-ricerca) !important;
}

.chat-inizio {
    background-color: var(--EVO-background-color-chat-inizio);
    text-align: center;
    border-radius: 8px;
    margin-bottom: 10px;
    color: var(--EVO-color-chat-inizio);
    font-weight: bold !important;
    font-family: "OpenSans-SemiBold" !important;
    padding: 5px;
}

.RimuoviBugClickColonna{
   pointer-events:none;
}

.menu_chat {
	position:relative;
	cursor:pointer;
}

.menu_chat_contatore{
    position: absolute;
    background-color: var(--EVO-background-color-contatore);
    border-radius: 10px;
    width: 17px;
    height: 17px;
    right: -3px;
    top: 20px;
    font-size: 13px;
    color: var(--EVO-color-contatore);
    text-align: center;
    line-height: initial;
    font-weight: bold;
	
}