.topbar {
	background: var(--EVO-background-topbar);
	height: 70px;
	min-width: 1000px;
	color: var(--EVO-color-topbar);
}
.logo_evo {
	float: left;
	margin-top: 23px;
	margin-left: 60px;
}
.logo_evo img {
	cursor: pointer;
}
.liveclock {
	float: left;
	line-height: 66px;
	display: inline-block;
	margin-left: 90px;
}
.box_topbar {
	float: right;
	margin-right: 10px;
	line-height: 70px;
}
/* ----------- */
/* menù utente */
/* ----------- */
.menu_user {
    cursor: pointer;
    font-size: 14px;
}
.menu_user_list {
	height: 38px;
	line-height: 38px;
	color: var(--EVO-color-menu-user-list);
	width: 100%;
	cursor: pointer;
}
.menu_user_list em {
	margin: 0px 10px;
	text-decoration: none;
}
.menu_user_list:hover {
	background: var(--EVO-background-menu-user-list-hover);
}
.menu_user_list.logout {
	color: var(--EVO-color-menu-user-list-logout);
}
.menu_user_list.logout:hover {
	background: var(--EVO-background-menu-user-list-logout-hover);
}
/* --------------- */
/* END menù utente */
/* --------------- */


.topbar_counter{
	line-height: 20px;
	text-align: center;
	position: relative;
	background-color: var(--EVO-background-color-contatore);
	color: var(--EVO-color-contatore);
	border-radius: 50%;
	min-width: min-content;
	min-height: min-content;
	right: -14px;
	top: -91px;
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 15px;
}