
.ColoriImpegniArancione {
	--ColoreImpegni: #ff7c00;
}

.ColoriImpegniBlu {
	--ColoreImpegni: #4552AC;
}

.ColoriImpegniVerde {
	--ColoreImpegni: #04c70e;
}

.impegni {
	background-color: var(--ColoreImpegni) !important;
	color: #FAFAFA !important;
	margin: 3px 0px;
	padding: 3px;
	border-radius: 5px !important;
	-ms-border-radius: 3px !important;
	border-left: 4px solid var(--ColoreImpegni) !important;
}

.impegni-giorno {
	color: var(--EVO-color-panel-field-caption-form) !important;
	font-weight: bold !important;
	line-height: 30px !important;
	height: 30px !important;
	border-bottom: 1px solid var(--EVO-color-panel-field-caption-form);
	width: 100% !important;
	margin-bottom: 2px !important;
}
.impegni-icone {
	float: right !important;
	color: #FAFAFA !important; 
	margin: -10px 4px !important;

}
.impegni-icone a {
	color: #FAFAFA !important;
	font-size: 18px !important;
}
