.EVO_Griglia-CalendarioLeft {
    background-color: var(--EVO-background-color-evo-griglia) !important;
    border-radius: 0px 0px 0px 8px !important;
    width: 96% !important;
	height: 96% !important;
    left: 6.1% !important;
}

.EVO_Griglia-CalendarioTop {
    background-color:  var(--EVO-background-color-evo-griglia) !important;
    width: 96.05% !important;
	height: 96% !important;
    left: 1.41% !important;
}

.EVO_Griglia-CalendarioBottom{
	background-color: var(--EVO-background-color-evo-griglia) !important;
	border-radius: 0px 0px 8px 0px !important;
	width: 96.05% !important;
    left: 1.41% !important;
	height: 96.55% !important;
	top: -3.69% !important;
}

.contatore_Calendario {
    padding: 3px !important;
    box-shadow: -2px 2px 7px var(--EVO-background-evo-button) !important;
}