.EVO-navbar {
	position: absolute;
	top: 0px;
	height: 35px;
	padding: 0px;
}

.EVO-navbar-page-active {
	background: var(--EVO-background-evo-navbar-page-active) !important;
	color: var(--EVO-color-evo-navbar-page-active) !important;
}

.EVO-navbar-page:hover{
	background: var(--EVO-background-evo-navbar-page-hover) !important;
}

.EVO-navbar-page-active:hover {
	background: var(--EVO-background-evo-navbar-page-active) !important;
	color: var(--EVO-color-evo-navbar-page-active) !important;
}


.EVO-navbar-page{
	float: left;
    background: var(--EVO-background-evo-navbar-page);
    font-family: 'OpenSans-Regular';
    color: white;
    width: 160px;
    height: 35px;
    text-align: left;
    line-height: 28px;
	margin: -1px;
	border-radius: 8px !important;
    -ms-border-radius: 8px !important;
	padding: 0px 22px 0px 6px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.EVO-navbar-close{
	float: left;
	position: relative;
	top: -2px;
	right: 16px;
	color: var(--EVO-color-evo-navbar-text);
	/* imposto le dimensioni minime per la tab della dashboard che non deve avere il bottone di chiusura */
	min-width: 15px;
	min-height: 10px;
}

.EVO-navbar-close svg {
	cursor: pointer;
}

.EVO-navbar-contenitor{
	background: var(--EVO-background-evo-navbar-contenitor) !important;
	overflow: hidden;
	height: 35px !important;
	position: absolute;
	top: 0px;
}

.EVO-navbar-contenitor:empty{
	display:none;
}

.EVO-navbar-form{
	/*background: #ffffff !important;*/
	height: 35px !important;
    margin: -3px;
	width: 150%;
}

.EVO-navbar-size{
	overflow: hidden;
	height: 35px !important;
}

.EVO-navbar-down{
	left: 70px !important;
	position: relative;
}

/*OVERRIDE*/
.top-dock-container-visible{
	padding: 0px 0px 0 0px !important;
	width: 150% !important;
}
/*//////////*/