
.gantt{
    display: flex; 
    flex-flow: row;
     /* justify-content: center; */
     /* align-items: center; */
     /* text-align: center; */
 }
 
 .lavorazioni{
     /* border: solid 2px red;
     background-color: greenyellow; */
     height: 100%!important;
     position: relative;
     cursor: pointer;
     padding: 5px 15px 5px 15px;
     border: 1px solid #999;
     border-radius: 5px;
 }

.lavorazioni::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 30%; /* puoi regolare questa percentuale */
   background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
   pointer-events: none;
   z-index: 1;
}

 .intestazione
 {
    height: 64%!important;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border: solid 1px #999;
 }

 .intestazione::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 30%; /* puoi regolare questa percentuale */
   background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
   pointer-events: none;
   z-index: 1;
}


 /* 
   ***********************************
   *** GESTIONE INSERIMENTO RAPIDO ***
   ***********************************  
*/

.InputPanel{    
   margin-top: 8px!important;
   margin-left: -8px!important; 
}

.VisualPanel{
   border: 1px solid #aeb0c0 !important;
   border-radius: 8px!important;
   margin-left: -8px!important;
   margin-top: 8px!important;
   padding: -5px!important;
}

.ButtonPanel .panel-form-container{    
  margin-top: 10px!important;
}

.insRapido.panel-value-input
{
   font-size: 26px!important;
   background-color: rgb(217, 247, 237)!important;
   color: #000!important;
   height: 40px!important;
}

.insRapido.panel-value-textarea,
.insRapido.panel-value-input.panel-field-value-form.EVO-bloccato 
{
   font-size: 26px!important;
   background-color: rgb(217, 247, 237)!important;
   color: #000!important;
}

.insRapido.panel-field-value-form,
.insRapido .panel-value-check
{
  font-size: 26px!important;
  background-color: rgb(217, 247, 237)!important;
  color: #000!important;
  margin: 0!important;
}

.insRapido.combo-input
{
   font-size: 26px!important;
   background-color: rgb(217, 247, 237)!important;
   color: #000!important;
}

.InputPanel .combo-activator
{
   font-size: 26px!important;
   background-color: rgb(217, 247, 237)!important;

}

.insRapido.panel-field-caption-form
{
   font-size: 20px!important;
   color: #000!important;
}


/* 
   **************************************
   ***   GESTIONE DASHBOARD MONITOR   ***
   **************************************
*/


.i40_dashboard{
   width: 100%;
   height: 100%;
   /* top: 16px;
   left: 16px; */
   padding: 2px;
   background-color: var(--EVO-background-contatori-dashboard);
   border-radius: 14px;
   display: flex; 
   flex-flow: row;
   margin: 2px;

}

.i40_dashboard_titolo{
   width: 100%;
   height: 33%;
   font-size: 20px;
   color: var(--EVO-color-contatori-dashboard-titolo);
   text-align: left;
   font-weight: bold;
   line-height:42px;
   font-family: 'OpenSans-bold';
}

.i40_dashboard_risultato{
   font-size: 40px;
   color: var(--EVO-color-contatori-dashboard-risultato);
   text-align: center;
   font-weight: bold;
   /* height: 33%;
   width: 100%; */
   font-family: 'OpenSans-bold';
}

.i40_dashboard_sottotitolo{
   color: var(--EVO-color-contatori-dashboard-risultato);
   text-align: left;
}


.i40_dashboard_box_contenuti{
   width: 50%;
   height: 100%;
   /* float: left; */
}

.i40_dashboard_box_cerchio{
   width: 40%;
   height: 100%;
}

.i40_dashboard_cerchio{
   float: right;
   display: flex;
   align-items: center;   /*centra verticalmente*/
   justify-content: center;/*centra orizzontalmente*/
   background-color: var(--EVO-background-color-contatori-dashboard-icona);

   -webkit-box-shadow: -8px 10px 9px -2px rgba(0,0,0,0.5); 
   box-shadow: -8px 10px 9px -2px rgba(0,0,0,0.5);

   border-radius: 50%;
   padding: 10%;
   margin: auto;
   width: 50px;
   height: 50px;
}

.i40_dashboard_icona .svg-inline--fa{
   width: 30px;
   height: auto!important;
   margin: auto;
}