.EVO-touch {
	font-family: Helvetica, Arial, sans-serif !important;
}
.EVO-touch-title {
	font-size: 24px !important;
	text-align: left !important;
	text-color: #444444;
	
}
.EVO-touch-message {
	font-size: 24px !important;
	text-align: center !important;
}
.EVO-touch-alert {
	text-color: #FFFFFF;
	background-color:#FF0000;
}
.EVO-touch-alert-message {
	color: #FFFFFF !important;
	font-size: 24px !important;
	text-align: center !important;
}
.EVO-touch-label {
	display: inline-block !important;
	font-size: 18px !important;
	color: #4552AC !important;
	text-align: left !important;
	line-height: 41px;
}
.EVO-touch-button {
	display: inline-block !important;
	text-align: center !important;
	border-radius: 8px !important;
	-ms-border-radius: 8px !important;
	font-size: 24px !important;
	font-weight: normal !important;
	background-color: #474363 !important;
	color: #FFF !important;
	cursor: pointer !important;
}
.EVO-touch-button.light {
	background-color: #476383 !important;
}
.EVO-touch-button:focus {
	background-color: #ff0000 !important;
}
.EVO-touch-button-inline {
	text-align: center !important;
	border-radius: 8px !important;
	-ms-border-radius: 8px !important;
	font-size: 24px !important;
	font-weight: normal !important;
	border: 1px solid #474363 !important;
	background-color: #474363 !important;
	color: #FFF !important;
	cursor: pointer !important;
	line-height: 41px;
}
.EVO-touch-button-inline.light {
	background-color: #476383 !important;
}
.EVO-touch-button-inline:focus {
	background-color: #ff0000 !important;
}

.EVO-touch-field {
	display: inline-block !important;
	margin: 0 !important;
	font-size: 24px !important;
	border-radius: 8px !important;
	-ms-border-radius: 8px !important;
	border: 1px solid #BBBCC4 !important;
	line-height: 41px;
}
.EVO-touch-field-small {
	display: inline-block !important;
	margin: 0 !important;
	font-size: 20px !important;
	border-radius: 8px !important;
	-ms-border-radius: 8px !important;
	border: 1px solid #BBBCC4 !important;
}

.EVO-touch-input {
	display: inline-block !important;
	margin: 0 !important;
	font-size: 24px !important;
	border-radius: 8px !important;
	-ms-border-radius: 8px !important;
	line-height: 43px;
}
.EVO-touch-white {
	background-color: #ffffff !important;
}

.EVO-touch-grid .panel-field-caption-list{
	background-color: #474363 !Important;
}

.EVO-touch-grid-cell {
	margin: 0 !important;
	font-size: 24px !important;
	border: 1px solid #BBBCC4 !important;
	line-height: 45px;
}
.EVO-touch-grid-cell-small {
	margin: 0 !important;
	font-size: 18px !important;
	border: 1px solid #BBBCC4 !important;
	line-height: 28px;
	font-family: 'OpenSans-Regular' !important;
}

.EVO-touch-logo {
	background-image: url('./images/loghi/LogoHeader.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
}