/*
█▄▄ █▀█ ▀█▀ ▀█▀ █▀█ █▄░█ █
█▄█ █▄█ ░█░ ░█░ █▄█ █░▀█ █*/


/*EVO RESET utilizzato per l'icona X*/

.EVO-reset-FiltroUnico {
    z-index: 1000000 !important;
    margin-left: -4px !important;    
    color: #99989A !important;
    background-color: var(--EVO-background-color-panel-field-value-form) !important;
    text-align: center !important;
    line-height: 17px !important;
    font-size: 12px !important;
    border-radius: 0px 6px 6px 0px !important;   
    border-right: 1px solid var(--EVO-border-panel-field-value-form-evo-sbloccato) !important;    
    border-bottom: 1px solid var(--EVO-border-panel-field-value-form-evo-sbloccato) !important;    
    border-top: 1px solid var(--EVO-border-panel-field-value-form-evo-sbloccato) !important;
    cursor: pointer;
    height: 17px !important;
}
.EVO-reset-FiltroUnico.SenzaClsFiltroUnico{
    height: 19px !important;
    line-height: 19px !important;
}
.EVO-reset-FiltroUnico.EVO-bloccato {
      border-radius: 0px 6px 6px 0px !important;
      border-right: 1px solid var(--EVO-border-panel-field-value-form-evo-bloccato) !important;
      border-bottom: 1px solid var(--EVO-border-panel-field-value-form-evo-bloccato) !important;
      border-top: 1px solid var(--EVO-border-panel-field-value-form-evo-bloccato) !important;
	  cursor: default;
}

.EVO-reset {
    /* color: var(--EVO-color-evo-reset) !important;
     margin-left: 3px !important;
     line-height: 21px !important;
     font-size: 18px !important;*/
     text-indent: 2px;
     z-index: 1000000 !important;
     margin-left: -4px !important;
     color: #99989A !important;
     background-color: var(--EVO-background-color-panel-field-value-form) !important;
     text-align: center !important;
     line-height: 18px !important;
     font-size: 12px !important;
     border-radius: 0px 6px 6px 0px !important;
     border-right: 1px solid var(--EVO-border-panel-field-value-form-evo-sbloccato) !important;
     border-bottom: 1px solid var(--EVO-border-panel-field-value-form-evo-sbloccato) !important;
     border-top: 1px solid var(--EVO-border-panel-field-value-form-evo-sbloccato) !important;
 }
.EVO-reset.EVO-bloccato {
      border-radius: 0px 6px 6px 0px !important;
      border-right: 1px solid var(--EVO-border-panel-field-value-form-evo-bloccato) !important;
      border-bottom: 1px solid var(--EVO-border-panel-field-value-form-evo-bloccato) !important;
      border-top: 1px solid var(--EVO-border-panel-field-value-form-evo-bloccato) !important;
 }

 .EVO-button-red {
    height: 22px !important;
    line-height: 22px !important;
    border: 1px solid firebrick !important;
    border-radius: 8px !important;
    opacity: 1 !important;
    font-family: 'OpenSans-SemiBold' !important;
    color: #ffffff !important;
    letter-spacing: 0.5px !important;
    font-size: 13px !important;
    text-align: center !important;
    padding: 2px 0!important;
    background-color: firebrick !important;
}

.EVO-button-red:hover {
    background-color: #df2727 !important;
}


 /*
 .EVO-reset:hover {
     color: var(--EVO-color-evo-reset-hover) !important;
     color: #d22929c9 !important;
 }*/
 

.EVO-reset:active {
    color: var(--EVO-color-evo-reset-active) !important
}

.EVO-search-icon {
    top: 42% !important;
}


/*
█▀▀ █░█ █▀ ▀█▀ █▀█ █▀▄▀█ ░ █▀▀ █▀ █▀
█▄▄ █▄█ ▄█ ░█░ █▄█ █░▀░█ ▄ █▄▄ ▄█ ▄█*/

.panel-value-button,
.popup-button {
    Font-Family: "OpenSans-SemiBold" !important;
    border: 4px !important;
    text-transform: none !important;
    /*Non serve la variabile, tanto non prendono questi*/
    /*background-color: #0f24b5 !important;*/
    color: #FFFFFF !important;
    border: 4px !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

.panel-value-button {
    line-height: 20px !important;
    height: 34px !important;
    text-decoration: underline !important;
    font-weight: bold !important;
    border-radius: 0px !important;
    -ms-border-radius: 0px !important;
}


/*Non serve la variabile, tanto non prendono questi*/

.popup-button:hover {
    background-color: #394bc4 !important;
    color: #FFFFFF !important;
}

input[type=button] {
    line-height: 0px !Important;
    height: 27px !important;
    border: none !important;
    letter-spacing: 0.5px !important;
    width: 100% !important;
}

input[type=button]:hover {
    cursor: pointer !important;
}

/*
█▀▀ █ █▄░█ █▀▀   █▀▀ █░█ █▀ ▀█▀ █▀█ █▀▄▀█ ░ █▀▀ █▀ █▀
█▀░ █ █░▀█ ██▄   █▄▄ █▄█ ▄█ ░█░ █▄█ █░▀░█ ▄ █▄▄ ▄█ ▄█*/


/*
█▄▄ █▀█ ▀█▀ ▀█▀ █▀█ █▄░█ █   █▀▀ █░░ ▄▀█ █▀ █▀ █ █▀▀ █
█▄█ █▄█ ░█░ ░█░ █▄█ █░▀█ █   █▄▄ █▄▄ █▀█ ▄█ ▄█ █ █▄▄ █*/

.EVO-button,
.EVO-button.multi-js-upload {
    height: 22px !important;
    line-height: 22px !important;
    background: var(--EVO-background-evo-button) !important;
    border: 1px solid var(--EVO-background-evo-button) !important;
    border-radius: 8px !important;
    opacity: 1 !important;
    font-family: 'OpenSans-SemiBold' !important;
    color: var(--EVO-color-evo-button) !important;
    letter-spacing: 0.5px !important;
    font-size: 13px !important;
    text-align: center !important;
    padding: 2px 0!important;
}

.EVO-button.disable {
    color: var(--EVO-color-evo-button-bloccato) !important;
    background: var(--EVO-background-evo-button-bloccato) !important;
    cursor: not-allowed !important;
    border: 1px solid var(--EVO-background-evo-button-bloccato) !important;
}

.EVO-button.locked {
    color: white !important;
    background: #E74C3C !important;
    border: 1px solid #E74C3C !important;
}

.EVO-button.locked:hover {
    background: #E74C3C !important;
}

.EVO-button:hover {
    background: var(--EVO-background-evo-button-hover) !important;
}

.EVO-button.disable:hover {
    background: var(--EVO-background-evo-button-bloccato) !important;
}

.EVO-button:active {
    background: var(--EVO-background-evo-button-active) !important;
}

.EVO-button.disable:active {
    background: var(--EVO-background-evo-button-bloccato) !important;
}

.EVO-button-light,
.EVO-button-light.multi-js-upload {
    height: 22px !important;
    line-height: 22px !important;
    border: 1px solid var(--EVO-background-evo-button-light) !important;
    border-radius: 8px !important;
    opacity: 1 !important;
    font-family: 'OpenSans-SemiBold' !important;
    color: var(--EVO-color-evo-button-light) !important;
    letter-spacing: 0.5px !important;
    font-size: 13px !important;
    text-align: center !important;
    padding: 2px 0!important;
}

.EVO-button-light.disable {
    color: #cccccc !Important;
    border: 1px solid #cccccc !important;
    cursor: not-allowed !important;
}

.EVO-button-light:hover {
    background-color: var(--EVO-background-color-evo-button-light-hover) !important;
}

.EVO-button-light:active {
    background-color: var(--EVO-background-color-evo-button-light-active) !important;
}

/* Bottone stepbar navigazione */

.EVO-button-navigation {
    height: 22px !important;
    line-height: 22px !important;
    opacity: 1 !important;
    font-family: 'OpenSans-Bold' !important;
    color: var(--EVO-color-evo-button-next) !important;
    font-size: 24px !important;
    text-align: center !important;
}

/*Bottone Stepbar Successivo*/

.EVO-button-next {
    transition: 0.1s !important;
    height: 22px !important;
    line-height: 22px !important;
    border-radius: 5px !important;
    opacity: 1 !important;
    font-family: 'OpenSans-Bold' !important;
    border: 1px solid var(--EVO-border-evo-button-next) !important;
    color: var(--EVO-color-evo-button-next) !important;
    font-size: 13px !important;
    text-align: center !important;
}

/*
.EVO-button-next:hover {
    background: #efefef !important;
}
*/

.EVO-button-next:active {
    background: var(--EVO-background-evo-button-next-active) !important;
}

.EVO-button-next:after {
    transition: 0.1s !important;
    content: '\276F' !important;
    margin-left: 15px !important;
}

.EVO-button-next:hover::after {
    margin-left: 20px !important;
}

.EVO-button-next.disable {
	color: var(--EVO-color-evo-button-previous-disable) !important;
    background: var(--EVO-background-evo-button-light-bloccato) !important;
	Border: 1px solid var(--EVO-color-evo-button-previous-disable) !important;
    cursor: not-allowed !important;
}

/*Bottone Stepbar Successivo Confirm*/

.EVO-button-next-confirm {
    transition: 0.3s !important;
    height: 22px !important;
    line-height: 22px !important;
    border-radius: 5px !important;
    opacity: 1 !important;
    font-family: 'OpenSans-Bold' !important;
    border: 1px solid var(--EVO-border-evo-button-next-confirm) !important;
    background-color: var(--EVO-background-color-evo-button-next-confirm) !important;
    color: var(--EVO-color-evo-button-next-confirm) !important;
    font-size: 17px !important;
    text-align: center !important;
}

.EVO-button-next-confirm:hover {
    background: var(--EVO-background-evo-button-next-confirm-hover) !important;
}

.EVO-button-next-confirm:active {
    background: var(--EVO-background-evo-button-next-confirm-active) !important;
}

.EVO-button-next-confirm.disable {
    color: var(--EVO-color-evo-button-bloccato) !important;
    background: var(--EVO-background-evo-button-bloccato) !important;
	Border: 1px solid var(--EVO-color-evo-button-previous-disable) !important;
    cursor: not-allowed !important;
}


/*Bottone Stepbar Precedente Enable*/

.EVO-button-previous {
    transition: 0.3s !important;
    height: 22px !important;
    line-height: 22px !important;
    border-radius: 4px !important;
    opacity: 1 !important;
    font-family: 'OpenSans-Bold' !important;
    color: var(--EVO-color-evo-button-previous-enable) !important;
    font-size: 13px !important;
    text-align: center !important;
}


/*
.EVO-button-previous:hover {
    background: #4552aced !important;
}
*/


/*
.EVO-button-previous:active {
    background: #4552ac0a !important;
}*/

.EVO-button-previous:before {
    transition: 0.1s !important;
    content: '\276E' !important;
    margin-right: 15px !important;
}

.EVO-button-previous:hover::before {
    margin-right: 20px !important;
}


/*Bottone Stepbar Precedente Disable*/

.EVO-button-previous.disable {
    color: var(--EVO-color-evo-button-previous-disable) !important;
}

.EVO-button-previous,
.EVO-button-previous.disable:before {
    content: '\276E' !important;
    margin-right: 15px !important;
}

.EVO-button-text:hover {
    text-decoration: underline !important;
}

/*
█▀▀ █ █▄░█ █▀▀   █▄▄ █▀█ ▀█▀ ▀█▀ █▀█ █▄░█ █   █▀▀ █░░ ▄▀█ █▀ █▀ █ █▀▀ █
█▀░ █ █░▀█ ██▄   █▄█ █▄█ ░█░ ░█░ █▄█ █░▀█ █   █▄▄ █▄▄ █▀█ ▄█ ▄█ █ █▄▄ █*/


/*
█▄▄ █▀█ ▀█▀ ▀█▀ █▀█ █▄░█ █   ▄▀█ █▄░█ █ █▀▄▀█ ▄▀█ ▀█▀ █
█▄█ █▄█ ░█░ ░█░ █▄█ █░▀█ █   █▀█ █░▀█ █ █░▀░█ █▀█ ░█░ █*/

.EVO-button-animation {
    transition: 0.3s !important;
    height: 30px !important;
    line-height: 30px !important;
    background: var(--EVO-background-color-EVO-button-animation) !important;
    border-radius: 5px !important;
    opacity: 1 !important;
    font-family: 'OpenSans-Regular' !important;
    color: var(--EVO-color-EVO-button-animation) !important;
    letter-spacing: 0.5px !important;
    font-size: 17px !important;
    text-align: center !important;
}

.EVO-button-animation span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    border-radius: 10px !important;
    background: transparent !important;
    background-image: transparent !important;
}

.EVO-button-animation span:after {
    content: '\276F';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
}

.EVO-button-animation:hover span:after {
    opacity: 1;
    right: 0;
}

.EVO-button-animation:hover span {
    padding-right: 25px;
    background: var(--EVO-background-EVO-button-animation-hover);
}

.EVO-button-animation:hover {
    background: var(--EVO-background-EVO-button-animation-hover) !important;
}

.EVO-button-animation:active {
    background: var(--EVO-background-EVO-button-animation-active) !important;
}

.EVO-button-animation:active span {
    background: var(--EVO-background-EVO-button-animation-active) !important;
}


/*
█▀▀ █ █▄░█ █▀▀   █▄▄ █▀█ ▀█▀ ▀█▀ █▀█ █▄░█ █   ▄▀█ █▄░█ █ █▀▄▀█ ▄▀█ ▀█▀ █
█▀░ █ █░▀█ ██▄   █▄█ █▄█ ░█░ ░█░ █▄█ █░▀█ █   █▀█ █░▀█ █ █░▀░█ █▀█ ░█░ █*/


.EVO-icon-close-mdi {
    color: var(--EVO-color-EVO-icon-close-mdi);
    width: 24px;
}

.EVO-icon-close-modal {
    color: var(--EVO-color-EVO-icon-close-modal);
    width: 20px;
}

.EVO-button-multiupload {
    height: 26px !important;
    line-height: 26px !important;
}


/*
Bottone chiudi dei form
Di defaault è un'immagine trasparente sulla quale si carica il vero e proprio bottone chiudi
*/
#forms-container .close-button {
    background-image: var(--EVO-close-button) !important;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* BOTTONE SWITCH*/

input[type=checkbox].SWITCHBUTTON.nodisplay {
    display: none;
}

input[type=checkbox].SWITCHBUTTON+label {
    display: inline-block;
    background-color: #8d8d8d;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 23px;
    line-height: 23px;
    position: relative;
    text-transform: uppercase;
    width: 40px;
}
input[type=checkbox].SWITCHBUTTON.Disabled+label {
    background-color: #adadad7d;
    cursor: not-allowed;
}

input[type=checkbox].SWITCHBUTTON+label,
input[type=checkbox].SWITCHBUTTON+label i {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;

}

input[type=checkbox].SWITCHBUTTON:checked+label {
    background-color: #1c851c;
    cursor: pointer;
}
input[type=checkbox].SWITCHBUTTON.Disabled:checked+label {
    background-color: #1c851c9c;
    cursor: not-allowed;
}


input[type=checkbox].SWITCHBUTTON+label:before,
input[type=checkbox].SWITCHBUTTON+label:after,
input[type=checkbox].SWITCHBUTTON+label i {
    width: 50%;
    display: inline-block;
    text-align: center;
}

input[type=checkbox].SWITCHBUTTON+label:before {
    content: attr(data-text-true);
}

input[type=checkbox].SWITCHBUTTON+label:after {
    content: attr(data-text-false);
}

input[type=checkbox].SWITCHBUTTON+label i {
    background-color: #f0f0f0;
    height: 19px;
    left: 1px;
    position: absolute;
    top:1px;
    width: 19px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 1px solid #acacac;
}

input[type=checkbox].SWITCHBUTTON:checked+label i {
    left: 18px;
}

/*
█▀▀ █ █▄░█ █▀▀   █▄▄ █▀█ ▀█▀ ▀█▀ █▀█ █▄░█ █
█▀░ █ █░▀█ ██▄   █▄█ █▄█ ░█░ ░█░ █▄█ █░▀█ █*/

