.menu {
    z-index: 999;
    position: absolute;
    width: min-content;
    min-width: 100px;
    padding: 0%;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 40%);
    border-radius: 3px;
    background: var(--EVO-background-menu);
    opacity: 1;
    transform: translate(0, 15px) scale(0.7);
    transition: transform 0.1s ease-in-out, opacity 0.1s ease-out;
    border: solid #0000004a 1px !important;
  }
  .menu.menu--show {
  
    transform: translate(0, 0) scale(1);
  }
  .menu .menu {
    top: 0px;
    left: 100%;
    display: none;
    /*no animazione*/
  }
  .menu .menu--separator {
    display: block;
    margin: 2.5px 5px;
    height: 1px;
    background-color: #a4a4a4;
  }
  .menu .menu--item {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }
  .menu .menu--item.menu--item--disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  .menu .menu--item:hover > span {
    color: var(--EVO-color-menu-menu-item-hover-span);
    outline: none;
    
  }
  .menu .menu--item:hover > .menu {
    opacity: 1;
    display: block;
    transform: translate(0, 0) scale(1);
    pointer-events: auto;
    transition-delay: 300ms;
  }
  .menu .menu--item {
    display: block;
    padding: 2px 2px;
    border-radius: 3px;
    border: 1px solid transparent;
    text-align: left;
    color: var(--EVO-color-menu-menu-item);
    font-family: "OpenSans-SemiBold";
    font-size: 13px;
    width: 96%;
  }
  .menu .menu--item span > span {
    margin-left: 25px;
    margin-right: 25px;
  }
  .menu .menu--item span > i {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
  .menu .menu--item span:hover > i,
  .menu .menu--item span:hover > span {
    color: var(--EVO-color-menu-menu-item-hover-i-menu-menu-item-hover-span);
  }
  
  .menu .menu--item:hover {
    background: var(--EVO-background-menu-menu-item-hover);
  }
  
  .menu .menu--item.menu--father::after{
    content:">";
    position:absolute;
    right:5%;
  }
  