/*
█▀▄▀█ █▀▀ █▄░█ █░█   █▀▄▀█ █▀█ █▀▄ █░█ █░░ █
█░▀░█ ██▄ █░▀█ █▄█   █░▀░█ █▄█ █▄▀ █▄█ █▄▄ █*/

.EVO-menu-module {
    font-size: 14px !important;
    line-height: 28px;
    color: (--EVO-color-evo-menu-module);
    border-radius: 15px !important;
    margin-right: 20px !important;
}

.EVO-menu-module-list em {
    margin: 0px 10px;
    text-decoration: none;
}

.EVO-menu-module-list:hover {
    background: var(--EVO-background-color-evo-menu-module-list-hover) !important;
    width: 80% !important;
    margin-left: 10px !important;
    border-radius: 10px !important;
    margin-right: 20px !important;
    cursor: pointer !important;
}

.EVO-menu-module-list:active {
    background: var(--EVO-background-color-evo-menu-module-list-active) !important;
}

.EVO-menu-module-list-divisore {
    content: "";
    display: block;
    height: 1px;
    opacity: 1;
    width: 97%;
    margin-left: 3%;
    background-color: var(--EVO-background-color-EVO-menu-module-list-divisore);
    border-radius: 30px;
    margin-bottom: 4px;
    margin-top: 4px;
}


/*
█▀▀ █ █▄░█ █▀▀   █▀▄▀█ █▀▀ █▄░█ █░█   █▀▄▀█ █▀█ █▀▄ █░█ █░░ █
█▀░ █ █░▀█ ██▄   █░▀░█ ██▄ █░▀█ █▄█   █░▀░█ █▄█ █▄▀ █▄█ █▄▄ █*/