/* ---------------------------------------------------------------------------------------------------- */
/* Tooltip di InDe */
/* ---------------------------------------------------------------------------------------------------- */

:root{
    --EVO-tooltip-color: black;
    --EVO-tooltip-background: white;
    --EVO-tooltip-border: black;
  }

.messagetooltip-frame-container.messagetooltip-frame-container-info
:where(.messagetooltip-title.messagetooltip-title-info, .messagetooltip-text){
    margin:0!important;
    padding: 2.5px!important;
}



.messagetooltip-frame-container.messagetooltip-frame-container-info,
.messagetooltip-frame-container.messagetooltip-frame-container-info .popup-frame-content{
    border-radius: 7px!important;
    border: 1px solid var(--EVO-tooltip-border);
    color: var(--EVO-tooltip-color) !important;
    background-color: var(--EVO-tooltip-background) !important;
  
}

.messagetooltip-frame-container.messagetooltip-frame-container-info
:where(.messagetooltip-border-top, .messagetooltip-border-bottom, .messagetooltip-border-left, .messagetooltip-border-right, .messagetooltip-whisker, .messagetooltip-image){  
  display: none !important;
}

/* ---------------------------------------------------------------------------------------------------- */

/* tooltip custom EVO*/
.CustomTooltip table {
    border-collapse: collapse !important;
}

.CustomTooltip th {
    background-color: var(--EVO-background-color-customtooltip-th) !important;
    color: var(--EVO-color-customtooltip-th) !important;
    text-align: center !important;
    padding: 2px 4px !important;
}

.CustomTooltip td {
    background-color: var(--EVO-background-color-customtooltip-td) !important;
    color: var(--EVO-color-customtooltip-td) !important;
    padding: 2px 4px !important;
    white-space: nowrap !important;
}

span.tooltip_jq {
    display: block;
    width: auto;
    padding: 5px;
    background-color: #EDF1FD;
    border: 1px solid #4552AC;
    font-size: small;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
}

span.tooltip_jq_InfoInsMod {
    color: var(--EVO-color-span-tooltip-jq-infoinsmod);
    border: 1px solid var(--EVO-border-span-tooltip-jq-infoinsmod);
    background: var(--EVO-background-span-tooltip-jq-infoinsmod);
    border-radius: 3px;
    display: block;
    width: auto;
    padding: 5px;
    font-size: small;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
	/*animation: myfirst 3000ms linear forwards;*/
	z-index: 9999999 !important;
}

@keyframes myfirst {
  0%   {opacity:1;}
  99%  {opacity:1;} 
  100% {opacity:0;}
}
    /* END tooltips */
