/*
█▀▄▀█ █▀▀ █▀ █▀ ▄▀█ █▀▀ █▀▀ █▄▄ █▀█ ▀▄▀
█░▀░█ ██▄ ▄█ ▄█ █▀█ █▄█ ██▄ █▄█ █▄█ █░█*/

.EVO-MessageConfirmEx .popup-text {
    font-family: "OpenSans-Regular" !important;
    padding-top: 17px !important;
    color: var(--EVO-color-evo-messageconfirmex-popup-text) !important;
}

.EVO-MessageConfirmEx .popup-frame-caption {
    background-color: var(--EVO-background-color-evo-messageconfirmex-popup-frame-caption) !important;
    color: var(--EVO-color-evo-messageconfirmex-popup-frame-caption) !important;
}

.Avviso.EVO-MessageConfirmEx .popup-frame-caption{
    background-color: var(--EVO-background-color-evo-messageconfirmex-popup-frame-caption) !important;
    /*color: var(--EVO-color-evo-messageconfirmex-popup-frame-caption) !important;*/
    color: white !important;
    font-family: "OpenSans-Semibold" !important;
}

.Eliminazione.EVO-MessageConfirmEx .popup-frame-caption{
    background-color: red !important;
    color: white !important;
    font-family: "OpenSans-Semibold" !important;
}

.EVO-MessageConfirmEx .popup-frame-caption:after {
    color: var(--EVO-color-evo-messageconfirmex-popup-frame-caption-hover);
    font-family: "OpenSans-SemiBold" !important;
    content: attr(Titolo-MessageConfirmEx);
    position: absolute;
    left: 20px;
    font-size: 17px !important;
}

.EVO-MessageConfirmExTitolo {
    font-family: "OpenSans-Bold" !important;
    font-size: 17px !important;
    margin-bottom: 5px !important;
}

.EVO-MessageConfirmExConferma:hover,
.EVO-MessageConfirmExChiudi:hover {
    text-decoration: underline !important;
}

.EVO-MessageConfirmExChiudi {
    color: var(--EVO-color-evo-messageConfirmExChiudi) !important;
}

.EVO-MessageConfirmExConferma {
    color: var(--EVO-color-evo-messageConfirmExConferma) !important;
}

.EVO-MessageConfirmExConferma,
.EVO-MessageConfirmExChiudi {
    font-family: "OpenSans-SemiBold" !important;
    background: var(--EVO-background-color-popup-frame-content) !important;
    cursor: pointer !important;
}

.popup-text {
    width: 350px !important;
	color: var(--EVO-color-popup-text);
}

.popup-button-div {
    right: 2% !important;
    text-align: right !important;
}


/*Le parti standard sono nella custom.css --> popup-text e popup-button-div*/


/*
█▀▀ █ █▄░█ █▀▀   █▀▄▀█ █▀▀ █▀ █▀ ▄▀█ █▀▀ █▀▀ █▄▄ █▀█ ▀▄▀
█▀░ █ █░▀█ ██▄   █░▀░█ ██▄ ▄█ ▄█ █▀█ █▄█ ██▄ █▄█ █▄█ █░█*/

/*Form Controlla chiusura*/

.td-controlla-chiusura {
    width: min-content;
    padding: 2px 10px;
    /* border-right: 1px solid; */
    border-color: var(--EVO-border-color-td-controlla-chiusura);
}

.EVO-controlla-chiusura {
                width: 100%;
                border-collapse: collapse;
                border-radius: 8px;
                overflow: hidden;
}

.controlla-chiusura_gridCaption {
    font-size: 100%;
    text-align: center;
    background: transparent;
    color: var(--EVO-color-controlla-chiusura-gridCaption);
    border-radius: 5px;
    top: 54px;
    border-bottom: 1px solid;
    border-color: var(--EVO-border-color-controlla-chiusura-gridCaption);
    font-family: 'OpenSans-SemiBold';
}

.controlla-chiusura_row {
                border-bottom: transparent solid 1px;
                border-radius: 15px;
}

.controlla-chiusura_row:nth-child(even) {background: var(--EVO-background-controlla-chiusura-row-nth-child-even);}
.controlla-chiusura_row:nth-child(odd) {background: var(--EVO-background-controlla-chiusura-row-nth-child-odd);}

.EVO-controlla-chiusura{
                text-align: center;
}

.msgConfirm-details_content {
                margin: 15px -21px auto -60px;
    border-bottom: 1px solid;
    border-color: var(--EVO-border-color-msgConfirm-details-content);
}

/* Form controlla chiusura*/
