.ring_circle {
	position: relative;
	margin: 0.5rem;
	border-radius: 50%;
	background: #FFCDB2;
	overflow: hidden;
}

	.ring_circle .ring_inner {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: #608888;
		border-radius: 50%;
		font-size: 1.85em;
		font-weight: 300;
		color: #FFFFFF;
	}
