.EVO-input-field label {

   display: block;
   line-height: 25px;
}

.EVO-input-field label span {
   font-size: 15px;
}

.EVO-input-field input {








   margin: 0 !important;
   width: 100% !important;
   height: 40px;


   font-size: 10pt;
   border-radius: 8px;
   -ms-border-radius: 8px;
   border: 1px solid #BBBCC4;
   text-indent: 10px !important;
}

.EVO-input-button,
.EVO-input-button span {
   height: 56px;
   line-height: 56px;
   width: 100%;

   overflow: visible;
   vertical-align: middle !important;
   border-radius: 8px !important;
   -ms-border-radius: 8px;
   font-size: 12pt !important;
   font-weight: normal;
   text-transform: uppercase;
   border: none;
   background-color: #474363 !important;
   color: #FFF !important;
   cursor: pointer;
}





.EVO-input-button:hover {
   background-color: #5B567F;
}