.EVO-grigliafooter {
    opacity: 1 !important;
    height: 23px !important;
    padding: 0.5pt 1.25pt 1.25pt !important;
    border-top: 1px solid #ffffff00 !important;
    border-bottom: 1px solid var(--grigliafooter-border-color) !important;
    border-right: 1px solid var(--grigliafooter-border-color) !important;
    border-left: 1px solid var(--grigliafooter-border-color) !important;
    line-height: 23px;
    font-size: 9pt !important;
    font-family: "OpenSans-SemiBold" !important;
	color: var(--grigliafooter-color) !important;
}