:root{
    --EVO-Notifica-Background-NonLetta:#f3f5fe;
    --EVO-Notifica-Background-Hover:#dae1ff;
    --EVO-Notifica-Icona:#4552ac;
    --EVO-Notifica-Freccia:#4552ac;
    --EVO-Notifica-Testo: #000;
}
/*
:root{
    --EVO-Notifica-Background-NonLetta:#1f1c38;
    --EVO-Notifica-Background-Hover:#5d576e;
    --EVO-Notifica-Icona:#FFF;
    --EVO-Notifica-Freccia:#FFF;
    --EVO-Notifica-Testo: #fff;
}
*/

ul.EVO-GestioneNotifiche {
    margin: 0;
    padding: 0px;
    list-style-type: none;
    color: var(--EVO-Notifica-Testo)
}
ul.EVO-GestioneNotifiche li {
    padding: 7.5px 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    transition: 0.4s;
}
ul.EVO-GestioneNotifiche li.EVO-GestioneNotifiche-NonLetto {
    background-color: var(--EVO-Notifica-Background-NonLetta);
}
ul.EVO-GestioneNotifiche li:hover {
    cursor: pointer;
    background-color: var(--EVO-Notifica-Background-Hover);
}
ul.EVO-GestioneNotifiche li:hover .EVO-GestioneNotifiche-Caption :nth-child(2) {
    text-decoration: underline;
}
ul.EVO-GestioneNotifiche li section {
    display: flex;
    flex-direction: column;
    min-width: min-content;
    min-height: min-content;
}
ul.EVO-GestioneNotifiche li section.EVO-GestioneNotifiche-Icona {
    color: var(--EVO-Notifica-Icona);
}
ul.EVO-GestioneNotifiche li section.EVO-GestioneNotifiche-Leggi {
    color: var(--EVO-Notifica-Freccia);
}
ul.EVO-GestioneNotifiche li section.EVO-GestioneNotifiche-Icona, ul.EVO-GestioneNotifiche li section.EVO-GestioneNotifiche-Leggi {
    justify-content: center;
    align-items: center;
    width: 25px;
    font-size: 20px;
}
ul.EVO-GestioneNotifiche li section.EVO-GestioneNotifiche-Caption {
    flex-grow: 1;
}
ul.EVO-GestioneNotifiche li section.EVO-GestioneNotifiche-Caption :first-child {
    font-size: 11px;
}
ul.EVO-GestioneNotifiche li section.EVO-GestioneNotifiche-Caption :nth-child(2) {
    font-weight: bold;
    font-size: 15px;
}
ul.EVO-GestioneNotifiche li section.EVO-GestioneNotifiche-Caption :nth-child(3) {
    font-size: 13px;
    max-width: 315px;
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis!important;
}

div.EVO-GestioneNotifiche {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    opacity: 16%;
}