.mg-accordion, .mg-accordion ul{
	list-style-type: none;
}
.mg-accordion .submenu{
	display: none;
}
.my-menu, .mg-flat{
	width: 175px;
}
.justify-items-evenly{
	justify-content: space-evenly;
}
.mg-flat li.dropdown{
	margin-left: -45px
}
.mg-flat .submenu li{
	margin-left: -33px;
}
.mg-flat span.toggler{
	float: right;
}
.mg-flat a{
	text-decoration: none;
	display: block;
}
.mg-flat li.dropdown a{
	padding: 7px 5px;
}
a.openItem{
	color: var(--button-background);
}
.openItem span{
	transform: rotate(180deg);
	color: var(--button-background);
}
.toggler{
	transition: all 1s;
	color: var(--EVO-color-toggler);
}

ul.submenu.closed {
    /*margin-left: 12px !important;*/
    transition: margin-left 0.15s;
}

.dropdown ul.submenu.closed{
    margin-left: 12px !important;
    transition: margin-left 0.15s;
}
